{% extends "blog/base.html" %}

{% block title %}{{ chapter.chapter_title }}{% endblock title %}

{% block content %}

<div class="flex flex-col items-center justify-center container mx-auto">
    <div>
        <h1 class="font-bold text-2xl text-white">{{ chapter.chapter_title }} capitulo {{ chapter.chapter_number }}</h1>
    </div>

    <div class="grid grid-cols-12 mt-3 py-4 px-4 border-2 border-[#00eeff] rounded-3xl">
        <div class="col-span-9">

            <video id="miVideo" src="{{ chapter.chapter_video.url }}" width="880" controls="controls" preload="auto" class="rounded-2xl"></video>

            <div class="flex items-center justify-around">                

                {% if previus_chapter %}
                    <a href="{% url 'info_chapter' slug=previus_chapter.chapter_slug %}" class="text-white">Capitulo anterior</a>
                {% endif %}

                <a href="#" class="text-white">Info Serie</a>

                {% if next_chapter %}
                    <a href="{% url 'info_chapter' slug=next_chapter.chapter_slug %}" class="text-white">Capitulo siguiente</a>
                {% endif %}
            </div>
        </div>
        <div class="col-span-3">
            <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet sunt cum atque
                perspiciatis iure cupiditate deserunt veritatis, vitae hic assumenda doloremque porro nihil tempore
                obcaecati accusamus, ex dignissimos quidem consequuntur.</p>
        </div>
    </div>
</div>
{% endblock content %}