{% load static %}

<div class="container">
    <div class="w-96 h-auto">
        <ul class="flex py-0 px-0 w-[400%] animate-slide">
            <li class="w-[100%] relative">
                <img src="{% static 'img/Kage_no_Jitsuryokusha_ni_Naritakut_FjdhOM4.jpg' %}" alt="" class="w-[100%]">
                <div class="absolute text-center top-52">
                    <h2>imgen</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perspiciatis, qui vero officiis voluptate libero quia harum ab! Necessitatibus, error! Quisquam suscipit eum quis expedita beatae. Placeat aliquid non asperiores!</p>
                </div>
            </li>
            <li class="w-[100%] relative">
                <img src="{% static 'img/Kage_no_Jitsuryokusha_ni_Naritakut_FjdhOM4.jpg' %}" alt="">
                <div>
                    <h2>imgen2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perspiciatis, qui vero officiis voluptate libero quia harum ab! Necessitatibus, error! Quisquam suscipit eum quis expedita beatae. Placeat aliquid non asperiores!</p>
                </div>
            </li>
            <li class="w-[100%] relative">
                <img src="{% static 'img/Kage_no_Jitsuryokusha_ni_Naritakut_FjdhOM4.jpg' %}" alt="">
                <div>
                    <h2>imgen3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perspiciatis, qui vero officiis voluptate libero quia harum ab! Necessitatibus, error! Quisquam suscipit eum quis expedita beatae. Placeat aliquid non asperiores!</p>
                </div>
            </li>
        </ul>
    </div>
</div>