{% extends 'blog/base.html' %}

{% block content %}
    
    <h1>{{title}}</h1>

    <form action="" method="post">

        {% csrf_token %}
        {% comment %} validacion del formulario {% endcomment %}
        {% if form.errors %}
            <h5>Alerte a ocurrido el siguiente error:</h5>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        {% comment %} fin de la validacion  {% endcomment %}

        {% for field in form.visible_fields %}
            <div> 
                {{ field }}
            </div>
        {% endfor %}
        
        <input type="submit" value="{{ action }}" class="text-white">
    </form>
    
{% endblock content %}